.Design-APIs-fast-Ma {
  width: 450px;
  height: 172px;
  margin: 10% 10% 10% 10%;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4f4f4f;
}
img.login_image {
  object-fit: contain;
}
.Oval {
  width: 188px;
  height: 188px;
  margin: 3% 43% 10% 10%;
  background-color: #fff;
}

.Oval-Copy {
  width: 126px;
  height: 126px;
  margin: 11% 51% 10% 10%;
  background-color: #fff;
}

.Oval-Copy-2 {
  width: 188px;
  height: 188px;
  margin: 0% 0% 3% 0%;
  background-color: #fff;
}

.Oval-Copy-3 {
  width: 138px;
  height: 138px;
  margin: 0% 0% -3% 7%;
  background-color: #fff;
}

.Login-to-your-CMS-a {
  width: 398px;
  height: 33px;
  margin: 0 0 110px;
  font-family: Montserrat;
  font-size: 27px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.Email {
  width: 35px;
  height: 15px;
  margin: 0 234px 9px 1px;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.Password {
  width: 60px;
  height: 15px;
  margin: 0 210px 9px 0;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.login-form-button {
  width: 100%;
  margin-top: 30px;
}

.Forgot-password {
  width: 111px;
  height: 15px;
  margin: 19px 79px 0 80px;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}